$headerSmartPhoneHeight: 60px;
$headerTabletHeight: 110px;
$mobileButtonWidth: 40px;
$mobileButtonHeight: 32px;
$cHeaderBgColor: #003309;
$cWhite: #fff;

.header {
  background-color: $cHeaderBgColor;
  height: $headerSmartPhoneHeight;
  transition: height 0.3s;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 32px);
  height: 100%;
  margin: 0 auto;
}

.header__title {
  color: $cWhite;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
}

.header__nav {
  display: none;
}

.header__list {
  list-style: none;
  font-weight: bold;
}

.header__item {
  display: inline-block;
  padding: 16px;

  & > a {
    color: $cWhite;
    text-decoration: none;
  }

  &:last-child {
    padding-right: 0;
  }
}

.mobile__button {
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  width: $mobileButtonWidth;
  height: $mobileButtonHeight;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: white;
    width: 50%;
    height: 2px;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      top: 30%;
    }
    &:nth-child(3) {
      top: 70%;
    }
  }
}

.mobile__nav {
  position: absolute;
  top: $headerSmartPhoneHeight;
  left: 0;
  border-top: 1px solid gray;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s;

  &.show {
    max-height: 150px;
  }
}

.mobile__list {
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile__item {
  background-color: $cHeaderBgColor;
  padding: 3px;

  & > a {
    display: block;
    color: $cWhite;
    text-decoration: none;
    padding: 12px 12px 12px 16px;
  }
}

@media (min-width: 768px) {
  .header {
    height: $headerTabletHeight;
  }

  .header__contents {
    max-width: 720px;
  }

  .header__title {
    font-size: 36px;
  }

  .header__nav {
    display: block;
  }

  .mobile__button {
    display: none;
  }

  .mobile__nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .header__contents {
    max-width: 930px;
  }
}

@media (min-width: 1200px) {
  .header__contents {
    max-width: 1140px;
  }
}
